@tailwind base;
@tailwind components;
@tailwind utilities;


.main-boxshadow {
    box-shadow: 0 7px 12px rgb(141, 81, 209)
}

.hover-boxshadow:hover {
    box-shadow: 0 0 10px rgb(87, 37, 144),
                0 0 30px rgb(87, 37, 144),
                0 0 50px rgb(87, 37, 144),
                0 0 70px rgb(87, 37, 144),
                0 0 90px rgb(87, 37, 144);
}



input:checked~div label {
    color: rgb(165, 165, 165);
}


input~div div {
    transition: transform .2s 0s linear;
}

input:checked~div div {
    transform: translateX(0);
    transition: transform .35s 0s linear;
}




body *::-webkit-scrollbar {
    width: 6px;
}

body *::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    background-color: rgba(0, 0, 0, .08);
}

body *::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 20px;
}
